//<FORM>
// Сниппет (HTML):
.form {
	&__row {
	}
	&__column {
	}
	&__line {
	}
	&__input {
	}
	&__button {
	}
	&__error {
	}
}
//</FORM>

// <BUTTONS>
// Сниппет (HTML): btn
 @import "button";

// <INPUTS>
// Сниппет (HTML): inp
 @import "input";

// <CHECK>
// Сниппет (HTML): chk
 @import "checkbox";

// <RADIO>
// Сниппет (HTML): opt
 @import "radio";

// <SELECT>
// Сниппет (HTML): sel
 @import "select";

// <RATING>
// Сниппет (HTML): rating
// @import "rating";

// <QUANTITY>
// Сниппет (HTML): qa
// @import "quantity";

// <RANGE>
// Сниппет (HTML):
// @import "range";

// <CALENDAR>
// Сниппет (HTML):
// @import "datepicker";

.form-select {
	
	&__item-first {
		display: flex;
		min-width: 0;
		align-items: center;
		justify-content: space-between;
		color: inherit;
		text-align: left;
		border: 1px solid $fon;
		background-color: #fff;
		cursor: pointer;
		width: 100%;
		border-radius: toRem(15);
		transition: background-color 0.3s;
		padding: toRem(17) toRem(18) toRem(18) toRem(20);
		font-size: toRem(18);
		font-weight: 500;
		height: toRem(60);
		.select-open & {
			border-color: #D4D3CF;
			background-color: $fon;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
			border-bottom: none;
		}
		@media (max-width:$mobile){
			height: toRem(50);
			padding: toRem(12) toRem(16) toRem(13) toRem(16);
		}
		& img {
			transition: transform 0.3s;
			.select-open & {
				 transform: rotate(180deg);
			}
		}
		@media (any-hover: hover){
			&:hover{
				background-color: #f4f4f1;
			}
		}
		
		&:active {
			background-color: $fon;
		}
	}

	&__simplebar {
		width: 100%;
		display: flex;
	}
	&__drop-menu {
		display: flex;
		flex-direction: column;
		// display: none;
		visibility: hidden;
		position: absolute;
		// top: -110%;
		
		width: 100%;
		color: #000;
		background-color: $fon;
		max-height: 357px;
		border-radius: 0 0 0.9375rem 0.9375rem;
		min-width: 100%;
		left: 0;
		// border-top: 0;
		border: 1px solid $obvodka;
		border-top: 0;
		// padding: 10px 0px 5px 0px;
		// transition: all 0.3s;
		.select-open & {
			overflow: hidden;
			overflow: auto;
			// top: 100%;
			// display: block;
			display: flex;
			flex-direction: column;
			position: relative;
			opacity: 1;
			visibility: visible;
		}
	}
}
.options {

	&__item {
		flex: 1 0 100%;
		width: 100%;
		&:not(:last-child) {
			border-bottom: 1px solid $obvodka;
		}
		&_button {
			padding: toRem(20);
			padding-left: toRem(15);
			@media (max-width:$mobile){
				padding-left: toRem(18);
				 order: -1;
			}
		}
		
		&:hover{
			background-color: $seryy;
			font-weight: 500;
		}
		
	}

	&__input {
	}

	&__label {
	}

	&__button {
		display: flex;
		align-items: center;
		column-gap: toRem(16);
		font-weight: 500;
		@media (max-width:$mobile){
			order: -1;
			 column-gap: toRem(8);
			 font-size: toRem(12);
		}
	}
}
.button-options {

	&__img {
		display: flex;
		
		width: 2.5rem;
		height: 2.5rem;
		justify-content: center;
		align-items: center;
		border-radius: 0.625rem;
		background-color: $mainColor;
		transition: opacity 0.3s;
		&:hover{
			opacity: 0.8;
		}
		&:active{
			opacity: 0.6;
		}
		@media (max-width:$mobile){
			 width: 2rem;
			 height: 2rem; 
		}
	}
}
.button {

	&__title {
	}
}

.checkbox__label {
	cursor: pointer;
	text-indent: -9999px;
	width: 48px;
	height: 24px;
	background: $fon;
	display: block;
	border-radius: 7px;
	position: relative;
	&:hover{
		background: $seryy;
	}
}

.checkbox__label:after {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	width: 20px;
	height: 20px;
	background: $mainColor;
	border-radius: 5px;
	transition: 0.3s;
}

input:checked + .checkbox__label {
	background: $mainColor;
	&:after {
		background: #fff;
	}
}

input:checked + .checkbox__label:after {
	left: calc(100% - 2px);
	transform: translateX(-100%);
}

.checkbox__label:active:after {
	width: 20px;
}

.input-file {
	
	@media (max-width:$mobile){
		 width: 78.571429%; /* 220/280 */
	}
	.article__form_input-load & {
		// position: static;
	}
	// position: relative;
	// display: inline-block;
	// outline: 1px solid $obvodka;
	border-radius: 15px;
	line-height: 20px;
	height: 60px;
	@media (max-width:$mobile){
		 height: 48px; 
	}
	// color: $mainColor;
	// width: 100%;
	// display: block;
	// padding: 20px;
	font-weight: 500;
	outline: 1px solid $obvodka;
	background-color: $fon;
}
.input-file-text {
	// padding: 0 10px;
	// line-height: 40px;
	// text-align: left;
	// height: 40px;
	// display: block;
	// float: left;
	// box-sizing: border-box;
	// width: 200px;
	// border-radius: 6px 0px 0 6px;
	// border: 1px solid #ddd;
}
// .input-file-btn {
// position: relative;
// 	display: inline-block;
// 	cursor: pointer;
// 	outline: none;
// 	text-decoration: none;
// 	font-size: 14px;
// 	vertical-align: middle;
// 	color: rgb(255 255 255);
// 	text-align: center;
// 	border-radius: 0 4px 4px 0;
// 	background-color: #419152;
// 	line-height: 22px;
// 	height: 40px;
// 	padding: 10px 20px;
// 	box-sizing: border-box;
// 	border: none;
// 	margin: 0;
// 	transition: background-color 0.2s;
// }
// .input-file input[type=file] {
// 	position: absolute;
// 	z-index: -1;
// 	opacity: 0;
// 	display: block;
// 	width: 0;
// 	height: 0;
// }

// /* Focus */
// .input-file input[type=file]:focus + .input-file-btn {
// 	// box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
// }

/* Hover/Active */
.input-file:hover {
	background-color: rgba(104, 105, 105, 0.1);
}
.input-file:active {
	background-color: rgba(104, 105, 105, 0.1);
}

/* Disabled */
.input-file input[type=file]:disabled {
	background-color: #eee;
}