//<INPUT>
// Сниппет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.input {
	border-radius: 15px;
	line-height: 20px;
	height: 60px;
	color: $mainColor;
	width: 100%;
	display: block;
	padding: 20px;
	font-weight: 500;
	outline: 1px solid $obvodka;
	background-color: $fon;
	transition: background-color 0.3s;
	@media (max-width: $mobile) {
		height: 48px;
	}
	@media (any-hover: hover) {
		&:hover {
			background-color: $seryy;
		}
		&:active {
		}
	}
	@media (max-width: $mobile) {
		padding: toRem(15) toRem(16) toRem(16) toRem(16);
	}
	&._form-focus {
	}
	&._form-error {
		border: 1px solid #906969;
	}
	&.input_andbuttons {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
	.module__item_file-load &:focus {
	}
	.article__form-wrapper .article__input-wrapper & {
		border-radius: 0;
	}
	.article__form-wrapper .article__input-wrapper:first-child & {
		border-radius: 15px 0 0 15px;
	}
	.article__form-wrapper .article__input-wrapper:last-child & {
		border-radius: 0 15px 15px 0;
	}

	article.module__item_tarifs & {
		height: 60px;
		font-size: toRem(12);
		background-color: $seryy;
		@media (max-width: $mobile) {
			font-weight: 400;
		}
	}
	&._input-error {
		position: relative;
		border-radius: 15px 0 0 15px;
		border: 1px solid var(--100, #906969);
		background: var(--10, rgba(144, 105, 105, 0.1));
		.article__input-wrapper:last-child & {
			border-radius: 15px;
		}
	}
}

.article__placeholder {
	position: absolute;
	pointer-events: none;
	color: rgba(28, 28, 34, 0.5);
	left: 20px;
	@media (max-width: $mobile) {
		left: 16px;
	}
	right: 15px;
	top: 50%;
	transform: translateY(-50%);
	white-space: nowrap;
	overflow: hidden;
	//   line-height: 40px;
	transition: 0.3s;
	.module__item_file-load input:valid + & {
		display: none;
	}
	&_one {
		display: block;
		@media (max-width: $mobile) {
			display: none;
		}
	}
	&_two {
		display: none;
		@media (max-width: $mobile) {
			display: block;
		}
	}
}
input.input:focus,
input.input:not(:focus):valid {
	padding-top: 30px;
	padding-bottom: 10px;
	@media (max-width: $mobile) {
		padding-top: 22px;
		padding-bottom: 9px;
	}
}
input.input:focus ~ .article__placeholder,
input.input:not(:focus):valid ~ .article__placeholder {
	top: 10px;
	transform: none;
	font-size: 12px;
	.article__form_input-load & {
		top: 50%;
		transform: translateY(-50%);
		font-size: toRem(14);
	}
}

textarea.input {
	&::placeholder {
		font-weight: 400;
	}
	resize: none;
	&:hover {
		background-color: $seryy;
	}
	&:focus,
	:not(:focus):valid {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	&.input:focus ~ .article__placeholder,
	.input:not(:focus):valid ~ .article__placeholder {
		// top: 0;
		// padding: 0;
	}
	padding: 20px 20px;
}
