//====================================================================================================
.page {

	&__choosegame {
		
	}
}
.choosegame {

	&__container {
		margin-top: toRem(64);
		@media (max-width:$mobile){
			 margin-top: toRem(32); 
		}
	}

	&__select {
		border-radius: 1.25rem;
		padding: 20px;
		background-color: #fff;
		@media (max-width:$mobile){
			 border-radius: 15px;
			 padding: toRem(15) toRem(15) toRem(19) toRem(15); 
		}
	}
}

//====================================================================================================
