//====================================================================================================
.page {
	margin-top: toRem(64);
		@media (max-width:$mobile){
			 margin-top: toRem(32); 
		}
	&__module {
		
	}
}

.actions {

	&__icon {
		width: 48px;
		height: 48px;
		transition: background-color 0.3s;
		// position: absolute;
		// top: 20px;
		// right: 20px;
		&_del {
			
			background-color: var(--10, rgba(144, 105, 105, 0.10));
			&:hover{
				background-color: rgba(173, 67, 67, 0.1)
			}
			&:active {
				
				& .del__close{display: none;}
				& .del__open{display: block;}
			}
			// display: none;
			&._view{
				// display: flex;
			}
		}

		&_load {
			background: rgba(114, 76, 138, 0.10);
			&:hover{
				background: rgba(126, 90, 148, 0.14);
			}
			&:active {
				background: rgba(85, 66, 97, 0.12);
			}
			&._hidden {
				// display: none;
			}
		}
	}
}

.del {
	&__open {
		display: none;
	}
}

.help-article {
	
	&__subtext {
		color: $chernyy;
		
	}

	&__right {
		display: flex;
		align-items: center;
		column-gap: toRem(12);
	}

	&__img {
	}

	&__text {
		max-width: 5.6875rem;
		font-weight: 500;
	}
}

.button {
}

.spollers {

	&__body {
		max-height: 445px;
		overflow-y: auto;
		& .options__button {
			&:not(:last-child) {margin-bottom: toRem(16);}
		}
	}

	&__item {
		border-radius: 15px;
		border: 1px solid $obvodka;
		overflow: hidden;
		transition: background-color 0.3s;
		// padding: 1.25rem;
		.module__top & {
			border-color: $fon;
		}
		@media (max-width:$mobile){
			//  padding: 1rem; 
		}
		&[open] {
			background-color: $fon;
			overflow: hidden;
		}
	}

	&__form {
		padding: 1px;
	}

	&__title {
		// & > * {outline: 1px solid;}
		cursor: pointer;
		list-style: none;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: toRem(16) toRem(18) toRem(17) toRem(20);
		@media (max-width:$mobile){
			 padding: toRem(12) toRem(16) toRem(13) toRem(16); 
		}
	img {
					transition: transform 0.3s;
				}
		&._spoller-active {
			img {transform: rotate(180deg);}
		}
		@media (max-width:$mobile){
			.module__item_tarifs & {
				padding-top: toRem(12);
				padding-bottom: toRem(13);
			} 
		}
		transition: background-color 0.3s;
			&:hover{
				background-color: #f4f4f1;
			}
		.module__top & {
			
		}
	}

	&__body {
		padding: 1.25rem;
		.module__top & {
			padding: 0;
		}
		// margin-top: toRem(15);
		@media (max-width:$mobile){
			 margin-top: toRem(16); 
		}
		.module__item_tarifs & {
			padding: 0;
		}
	}

	&__form {
		&:not(:last-child) {margin-bottom: toRem(16);}
		
		@media (max-width:$mobile){
			 &:not(:last-child) {margin-bottom: toRem(4);} 
		}
	}
}

.texts {

	&__title {
		@media (max-width:$mobile){
			 display: block;
			 margin-bottom: toRem(8);
			 .module__item_raspred & {
				margin-bottom: 0;
			 }
		}
	}

	&__subtitle {
		color: $chernyy;
		@media (max-width:$mobile){
			 font-size: toRem(12); 
		}
	}
	&__block {
		display: flex;
		flex-direction: column;
		@media (max-width:$mobile){
			 margin-bottom: toRem(8); 
		}
	}
}

.file__Preview {
	display: block;
   //  max-width: 100px;
    padding-top: 1rem;
	 @media (max-width:$mobile){
		 padding-top: 0.5rem; 
	 }
	 img {
		width: 100%;
	 }
}




//====================================================================================================
