// Заголовки, общие БЄМ блоки и прочее...
.icon {
	display: flex;
	width: 40px;
	height: 40px;
	padding: 12px;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	background-color: $fon;
}

.settings {
	display: none;
	.choose-game-done & {
		display: block;
	}
}

.title {
	flex: 1 0 100%;
	font-size: toRem(24);
	font-weight: 500;
	@include adaptiveValue("font-size", 24, 18);
	@media (max-width:$mobile){
		//  font-size: toRem(18); 
	}
}

.subtitle {
	@include adaptiveValue("font-size", 18, 12);
	font-weight: 500;
}

.wrapper .page .simplebar-vertical {
	width: 4px;
	margin-right: 2px;
}

.options::-webkit-scrollbar {
	width: 12px;               /* width of the entire scrollbar */
	// height: 24px;
 }
 .options::-webkit-scrollbar-track {
	background: $fon;        /* color of the tracking area */
	border-radius: 100px;
 }
 .options::-webkit-scrollbar-thumb {
	background-color: $mainColor;    /* color of the scroll thumb */
	border-radius: 20px;       /* roundness of the scroll thumb */
	border: 4px solid $fon;  /* creates padding around scroll thumb */
 }